{% extends 'base.html' %}

{% load staticfiles %}
{% block content %}
    <div class="popup" data-popup="popup-1">
        <div class="popup-inner">

            <div class="application">Заполните форму</div>

            <p>Мы свяжемся с вами в ближайшее время</p>

            <form action="{% url 'get_application' id=item.id %}" method="post" id="requestForm">
                <input type="text" name="name" maxlength="25" placeholder="Имя">
                <input type="tel" name="number" placeholder="Телефон с кодом">
                <input type="email" name="email" placeholder="E-mail">
                <input type="submit" value="Отправить">
            </form>
            <a class="popup-close" data-popup-close="popup-1"><img src="{% static 'images/close-btn.png' %}"
                                                                   alt="image"></a>
        </div>
    </div>
    {% include 'header.html' %}

    <div class="a_bg1">
        <div class="a_content1 grid">
            <div class="about">
                <div class="about_img">
                    <img src="{{ item.image.url }}" alt="image">
                </div>

                <div class="about_desc">
                    <h3>{{ item.title }}</h3>

                    <p>{{ item.text }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="a_bg2">
        <div class="a_content2 grid">
            <h2>Спикеры</h2>

            <div class="team">
                {% for speak in speakers %}
                    <div class="member">
                        <div class="member_img">
                            <img src="{{ speak.image.url }}" alt="image">
                        </div>
                        <p>{{ speak.name }}</p>
                        <span class="s_line"></span>

                        <p>{{ speak.position }}</p>
                    </div>
                {% endfor %}

            </div>

            <div class="pagination">
                <a href="#"></a>
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#"></a>
            </div>
        </div>
    </div>

    <!-- <div class="a_bg3">
        <div class="a_content3 grid">
            <h3>Вакансии</h3>

            <div class="vacancies">
                <div class="vacancy">
                    <div class="v_title">Оператор</div>

                    <span class="s_line"></span>

                    <p>Оператор для приема звонков и
                        информирования клиентов
                        о направлениях и турах</p>

                    <p>з/п 15 000 сом</p>
                </div>

                <div class="vacancy">
                    <div class="v_title">Оператор</div>

                    <span class="s_line"></span>

                    <p>Оператор для приема звонков и
                        информирования клиентов
                        о направлениях и турах</p>

                    <p>з/п 15 000 сом</p>
                </div>

                <div class="vacancy">
                    <div class="v_title">Оператор</div>

                    <span class="s_line"></span>

                    <p>Оператор для приема звонков и
                        информирования клиентов
                        о направлениях и турах</p>

                    <p>з/п 15 000 сом</p>
                </div>

                <div class="vacancy">
                    <div class="v_title">Оператор</div>

                    <span class="s_line"></span>

                    <p>Оператор для приема звонков и
                        информирования клиентов
                        о направлениях и турах</p>

                    <p>з/п 15 000 сом</p>
                </div>
            </div>
        </div>
    </div> -->

    <!-- <div class="a_bg4">
        <div class="title_block">
            <div class="title_content grid">
                <h1>Социальные проекты</h1>
            </div>
        </div>
        <div class="a_content4 grid">
            <div class="social_pro">
                <p>Cоциальные проекты, которые направлены на сохранение природы и в то же время на развитие культуры туризма в
                    нашей стране. На сегодняшний день компания презентовала художественный фильм «Welcome to Kyrgyzstan», в
                    котором отражена природа Кыргызской Республики в зимнее время. Основная идея создания фильма была в том,
                    чтобы показать зрителям красоту природы кыргызской земли и побудить желание посетить нашу страну.</p>

                <a href="#">• «Welcome to Kyrgyzstan»</a>
            </div>

        </div>
    </div> -->

    <div class="background5" id="time-table">
        <div class="grid">
            <div class="content5">
                <h2>Conference programm</h2>

                <div class="block3 group">
                    <div class="schedule">
                        <h2>1 День</h2>
                        <div class="program">24 октября<br>15:00 — 20:00</div>
                        <ul class="menu">
                            <li>01.<p>Открытие офиса Гранта Кардона</p></li>
                            <li>02.<p>Почему ваш отдел работает только на 30%?</p></li>
                            <li>03.<p>Продайте или продадут вам</p></li>
                            <li>04.<p>Кофе-брейк + нетворкинг</p></li>
                            <li>05.<p>Конкуренция для слабаков - доминируйте</p></li>
                            <li>06.<p>Чрезмерное потребление 10х грозит богатством</p></li>
                        </ul>
                    </div>

                    <div class="schedule">
                        <h2>2 День</h2>
                        <div class="program">25 октября<br>10:00 — 18:00</div>
                        <ul class="menu">
                            <li>01.<p>Как ваш УСПЕХ зависит от ваших конкурентов</p></li>
                            <li>02.<p>Как выстроить ДОМИНИРУЮЩИЙ отдел продаж</p></li>
                            <li>03.<p>Почему НЕ НАДО продавать «Снег зимой» или «Песок в пустыне»</p></li>
                            <li>04.<p>Как преодолеть «90-дневный феномен» ваших продавцов</p></li>
                            <li>05.<p>Какой самый УПУЩЕННЫЙ элемент в продажах</p></li>
                            <li>06.<p>Феномен Гранта Кардона</p></li>
                        </ul>
                    </div>
                </div>

                <button type="button" name="button" data-popup-open="popup-1">запишитесь сейчас! цены растут!</button>
            </div>
        </div>
    </div>

{% endblock %}