<!DOCTYPE html>
<html lang="ru-ru">
<head>
    <meta charset="UTF-8">
    <title>Грант Кардон</title>
    <!-- <link rel="icon" type="image/png" href="assets/images/favicon-32x32.png" sizes="32x32"> -->
    <!-- <link rel="stylesheet" href="assets/css/flipclock.css" type="text/css"> -->
    <link rel="stylesheet" href="assets/slick/slick-theme.css" type="text/css">
    <link rel="stylesheet" href="assets/slick/slick.css" type="text/css">
    <link rel="stylesheet" href="assets/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="assets/css/styles.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="popup" data-popup="popup-1">
    <div class="popup-inner">

        <div class="application">Заполните форму</div>

        <p>Мы свяжемся с вами в ближайшее время</p>

        <form action="send_email.php" method="post" id="requestForm">
            <input type="text" name="name" maxlength="25" placeholder="Имя">
            <input type="tel" name="number" placeholder="Телефон с кодом">
            <input type="email" name="email" placeholder="E-mail">
            <input type="submit" value="Отправить">
        </form>
        <a class="popup-close" data-popup-close="popup-1"><img src="assets/images/close-btn.png" alt="image"></a>
    </div>
</div>
    <header>
        <div class="grid">
            <div class="content0 group">
                <a href="#home"><img src="" alt="logo" class="logo"></a>
                <nav class="menu-collapsed">
                    <div class="bar"></div>
                    <ul>
                        <li><a href="#t">Главная</a></li>
                        <li><a href="#t">О нас</a></li>
                        <li><a href="#time-table">Мерроприятия</a></li>
                        <li><a href="#">Отзывы</a></li>
                        <!-- <li><a href="#speaker">Спикер</a></li> -->
                        <!--<li><a href="#price_list">Цены</a></li>-->
                        <!-- <li><a href="#sale">Aкция</a></li> -->
                        <li><a href="#partnership">Партнерство</a></li>
                        <!-- <li><a href="#contacts">Контакты</a></li> -->
                    </ul>
                </nav>

                <div class="book">
                    <div class="p_number">0 (312) 89 77 52</div>
                    <button type="button" name="button" data-popup-open="popup-1">Заказать звонок</button>
                </div>
            </div>
        </div>
    </header>

    <div class="a_bg1">
    <div class="a_content1 grid">
        <div class="about">
            <div class="about_img">
                <img src="assets/images/about_img.jpg" alt="image">
            </div>

            <div class="about_desc">
                <h2>Название ивента</h3>

                <p>
                    В 2016-году была основана компания ОсОО «Борбор Эйжа» «BorborAsia». Предпосылкой создания компании
                    послужил проект «КЕТТИК», который был организован и реализован лидером компании Бектемиром
                    Мамаюсуповым и нашей командой. Путешествуя по кыргызской земле по проекту «КЕТТИК» мы ощутили весь
                    размах туристического потенциала страны, благодаря чему зародилась миссия поделиться со всем миром -
                    нашими восхищениями, самыми тёплыми чувствами, которые возникли от увиденной нами удивительной
                    красоты природы кыргызской земли. Для достижения нашей миссии мы создали туристическое
                    агентство.<br>
                    Цель:<br>
                    Наше туристическое агентство имеет разностороннее видение по созданию благоприятных условий для
                    встреч иностранных гостей и предоставление им туристических услуг, основанных на их пожеланиях.<br>
                    Мы стремимся к формированию стабильных и взаимовыгодных отношений с нашими клиентами и партнерами.
                    Мы с уверенностью смотрим в будущее и не довольствуемся достигнутыми успехами, развиваясь вместе с
                    Вами. Для этого мы обладаем всеми необходимыми материальными, интеллектуальными и духовными
                    ресурсами.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="a_bg2">
    <div class="a_content2 grid">
        <h2>Спикеры</h3>

        <div class="team">
            <div class="member">
                <div class="member_img">
                    <img src="assets/images/member1.jpg" alt="image">
                </div>
                <p>Макарова Ксения</p>
                <span class="s_line"></span>

                <p>менеджер</p>
            </div>

            <div class="member">
                <div class="member_img">
                    <img src="assets/images/member2.jpg" alt="image">
                </div>
                <p>Калматова Айжана</p>
                <span class="s_line"></span>

                <p>менеджер</p>
            </div>

            <div class="member">
                <div class="member_img">
                    <img src="assets/images/member3.jpg" alt="image">
                </div>
                <p>Эргешев Чубак</p>
                <span class="s_line"></span>

                <p>маркетолог</p>
            </div>

            <div class="member">
                <div class="member_img">
                    <img src="assets/images/member4.jpg" alt="image">
                </div>
                <p>Мережко Анна</p>
                <span class="s_line"></span>

                <p>маркетолог</p>
            </div>

            <div class="member">
                <div class="member_img">
                    <img src="assets/images/member5.jpg" alt="image">
                </div>
                <p>Давыдова Карина</p>
                <span class="s_line"></span>

                <p>менеджер</p>
            </div>

            <div class="member">
                <div class="member_img">
                    <img src="assets/images/member6.jpg" alt="image">
                </div>
                <p>Кайдылдаев Данияр</p>
                <span class="s_line"></span>

                <p>менеджер</p>
            </div>

            <div class="member">
                <div class="member_img">
                    <img src="assets/images/member7.jpg" alt="image">
                </div>
                <p>Тугушева Малика</p>
                <span class="s_line"></span>

                <p>маркетолог</p>
            </div>

            <div class="member">
                <div class="member_img">
                    <img src="assets/images/member8.jpg" alt="image">
                </div>
                <p>Мадалиева Айым</p>
                <span class="s_line"></span>

                <p>маркетолог</p>
            </div>
        </div>

        <div class="pagination">
            <a href="#"></a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#"></a>
        </div>
    </div>
</div>

<!-- <div class="a_bg3">
    <div class="a_content3 grid">
        <h3>Вакансии</h3>

        <div class="vacancies">
            <div class="vacancy">
                <div class="v_title">Оператор</div>

                <span class="s_line"></span>

                <p>Оператор для приема звонков и
                    информирования клиентов
                    о направлениях и турах</p>

                <p>з/п 15 000 сом</p>
            </div>

            <div class="vacancy">
                <div class="v_title">Оператор</div>

                <span class="s_line"></span>

                <p>Оператор для приема звонков и
                    информирования клиентов
                    о направлениях и турах</p>

                <p>з/п 15 000 сом</p>
            </div>

            <div class="vacancy">
                <div class="v_title">Оператор</div>

                <span class="s_line"></span>

                <p>Оператор для приема звонков и
                    информирования клиентов
                    о направлениях и турах</p>

                <p>з/п 15 000 сом</p>
            </div>

            <div class="vacancy">
                <div class="v_title">Оператор</div>

                <span class="s_line"></span>

                <p>Оператор для приема звонков и
                    информирования клиентов
                    о направлениях и турах</p>

                <p>з/п 15 000 сом</p>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="a_bg4">
    <div class="title_block">
        <div class="title_content grid">
            <h1>Социальные проекты</h1>
        </div>
    </div>
    <div class="a_content4 grid">
        <div class="social_pro">
            <p>Cоциальные проекты, которые направлены на сохранение природы и в то же время на развитие культуры туризма в
                нашей стране. На сегодняшний день компания презентовала художественный фильм «Welcome to Kyrgyzstan», в
                котором отражена природа Кыргызской Республики в зимнее время. Основная идея создания фильма была в том,
                чтобы показать зрителям красоту природы кыргызской земли и побудить желание посетить нашу страну.</p>

            <a href="#">• «Welcome to Kyrgyzstan»</a>
        </div>

    </div>
</div> -->

<div class="background5" id="time-table">
    <div class="grid">
        <div class="content5">
            <h5>Программа<br> бизнес-интенсива</h5>

            <div class="block3 group">
                <div class="schedule">
                    <h2>1 День</h2>
                    <div class="program">24 октября<br>15:00 — 20:00</div>
                    <ul class="menu">
                        <li>01.<p>Открытие офиса Гранта Кардона</p></li>
                        <li>02.<p>Почему ваш отдел работает только на 30%?</p></li>
                        <li>03.<p>Продайте или продадут вам</p></li>
                        <li>04.<p>Кофе-брейк + нетворкинг</p></li>
                        <li>05.<p>Конкуренция для слабаков - доминируйте</p></li>
                        <li>06.<p>Чрезмерное потребление 10х грозит богатством</p></li>
                    </ul>
                </div>

                <div class="schedule">
                    <h2>2 День</h2>
                    <div class="program">25 октября<br>10:00 — 18:00</div>
                    <ul class="menu">
                        <li>01.<p>Как ваш УСПЕХ зависит от ваших конкурентов</p></li>
                        <li>02.<p>Как выстроить ДОМИНИРУЮЩИЙ отдел продаж</p></li>
                        <li>03.<p>Почему НЕ НАДО продавать «Снег зимой» или «Песок в пустыне»</p></li>
                        <li>04.<p>Как преодолеть «90-дневный феномен» ваших продавцов</p></li>
                        <li>05.<p>Какой самый УПУЩЕННЫЙ элемент в продажах</p></li>
                        <li>06.<p>Феномен Гранта Кардона</p></li>
                    </ul>
                </div>
            </div>

            <button type="button" name="button" data-popup-open="popup-1">запишитесь сейчас! цены растут!</button>
        </div>
    </div>
</div>

    <footer id="connection">
        <div class="grid line9">
            <div class="content4">
                <h2>контактная информация</h5>

                    <div class="line"></div>
                    <p>Оставьте свои данные и мы свяжемся с вами или воспользуйтесь контактной<br> информацией и свяжитесь с
                        нами сами</p>
                    </div>
                    <div class="footer-block group">
                        <form action="#" method="get">
                            <input type="text" name="name" maxlength="25" placeholder="Имя">
                            <input type="tel" name="number" placeholder="Телефон с кодом">
                            <input type="email" name="email" placeholder="E-mail">
                            <input type="submit" value="Отправить">
                        </form>

                        <div class="container">
                            <div class="office group"><img src="assets/images/footer-phone.png" alt="image" class="first-image"> +996 550 055577</div>
                            <div class="office group"><img src="assets/images/footer-message.png" alt="image" class="second-image">
                                sunrisestudiopro@gmail.com
                            </div>
                            <div class="office group"><img src="assets/images/location-icon.png" alt="image" class="third-image">
                                Бишкек, ул. Калык Акиева 66,<br> ТЦ Весна, 3 этаж, офис №37
                            </div>
                        </div>
                    </div>

                    <div class="sunrise"><p>© 2016 SUNRISE STUDIO</p></div>

                </div>
    </footer>

    <script src="assets/js/jquery-3.1.0.min.js"></script>
    <script src="assets/slick/slick.min.js"></script>
    <script src="assets/js/script.js"></script>


</body>
</html>