{% extends 'base.html' %}


{% block content %}
    {% include 'header.html' %}

    <div class="a_bg1">
        <div class="a_content1 grid">
            <div class="about">
                <div class="about_img">
                    <img src="assets/static_files/images/about_img.jpg" alt="image">
                </div>

                <div class="about_desc">
                    <h3>Название ивента</h3>

                        <p>
                            В 2016-году была основана компания ОсОО «Борбор Эйжа» «BorborAsia». Предпосылкой создания
                            компании
                            послужил проект «КЕТТИК», который был организован и реализован лидером компании Бектемиром
                            Мамаюсуповым и нашей командой. Путешествуя по кыргызской земле по проекту «КЕТТИК» мы
                            ощутили весь
                            размах туристического потенциала страны, благодаря чему зародилась миссия поделиться со всем
                            миром -
                            нашими восхищениями, самыми тёплыми чувствами, которые возникли от увиденной нами
                            удивительной
                            красоты природы кыргызской земли. Для достижения нашей миссии мы создали туристическое
                            агентство.<br>
                            Цель:<br>
                            Наше туристическое агентство имеет разностороннее видение по созданию благоприятных условий
                            для
                            встреч иностранных гостей и предоставление им туристических услуг, основанных на их
                            пожеланиях.<br>
                            Мы стремимся к формированию стабильных и взаимовыгодных отношений с нашими клиентами и
                            партнерами.
                            Мы с уверенностью смотрим в будущее и не довольствуемся достигнутыми успехами, развиваясь
                            вместе с
                            Вами. Для этого мы обладаем всеми необходимыми материальными, интеллектуальными и духовными
                            ресурсами.
                        </p>
                </div>
            </div>
        </div>
    </div>

    <div class="a_bg2">
        <div class="a_content2 grid">
            <h2>Спикеры</h2>

                <div class="team">
                    <div class="member">
                        <div class="member_img">
                            <img src="assets/static_files/images/member1.jpg" alt="image">
                        </div>
                        <p>Макарова Ксения</p>
                        <span class="s_line"></span>

                        <p>менеджер</p>
                    </div>

                    <div class="member">
                        <div class="member_img">
                            <img src="assets/static_files/images/member2.jpg" alt="image">
                        </div>
                        <p>Калматова Айжана</p>
                        <span class="s_line"></span>

                        <p>менеджер</p>
                    </div>

                    <div class="member">
                        <div class="member_img">
                            <img src="assets/static_files/images/member3.jpg" alt="image">
                        </div>
                        <p>Эргешев Чубак</p>
                        <span class="s_line"></span>

                        <p>маркетолог</p>
                    </div>

                    <div class="member">
                        <div class="member_img">
                            <img src="assets/static_files/images/member4.jpg" alt="image">
                        </div>
                        <p>Мережко Анна</p>
                        <span class="s_line"></span>

                        <p>маркетолог</p>
                    </div>

                    <div class="member">
                        <div class="member_img">
                            <img src="assets/static_files/images/member5.jpg" alt="image">
                        </div>
                        <p>Давыдова Карина</p>
                        <span class="s_line"></span>

                        <p>менеджер</p>
                    </div>

                    <div class="member">
                        <div class="member_img">
                            <img src="assets/static_files/images/member6.jpg" alt="image">
                        </div>
                        <p>Кайдылдаев Данияр</p>
                        <span class="s_line"></span>

                        <p>менеджер</p>
                    </div>

                    <div class="member">
                        <div class="member_img">
                            <img src="assets/static_files/images/member7.jpg" alt="image">
                        </div>
                        <p>Тугушева Малика</p>
                        <span class="s_line"></span>

                        <p>маркетолог</p>
                    </div>

                    <div class="member">
                        <div class="member_img">
                            <img src="assets/static_files/images/member8.jpg" alt="image">
                        </div>
                        <p>Мадалиева Айым</p>
                        <span class="s_line"></span>

                        <p>маркетолог</p>
                    </div>
                </div>

                <div class="pagination">
                    <a href="#"></a>
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#"></a>
                </div>
        </div>
    </div>

    <!-- <div class="a_bg3">
        <div class="a_content3 grid">
            <h3>Вакансии</h3>

            <div class="vacancies">
                <div class="vacancy">
                    <div class="v_title">Оператор</div>

                    <span class="s_line"></span>

                    <p>Оператор для приема звонков и
                        информирования клиентов
                        о направлениях и турах</p>

                    <p>з/п 15 000 сом</p>
                </div>

                <div class="vacancy">
                    <div class="v_title">Оператор</div>

                    <span class="s_line"></span>

                    <p>Оператор для приема звонков и
                        информирования клиентов
                        о направлениях и турах</p>

                    <p>з/п 15 000 сом</p>
                </div>

                <div class="vacancy">
                    <div class="v_title">Оператор</div>

                    <span class="s_line"></span>

                    <p>Оператор для приема звонков и
                        информирования клиентов
                        о направлениях и турах</p>

                    <p>з/п 15 000 сом</p>
                </div>

                <div class="vacancy">
                    <div class="v_title">Оператор</div>

                    <span class="s_line"></span>

                    <p>Оператор для приема звонков и
                        информирования клиентов
                        о направлениях и турах</p>

                    <p>з/п 15 000 сом</p>
                </div>
            </div>
        </div>
    </div> -->

    <!-- <div class="a_bg4">
        <div class="title_block">
            <div class="title_content grid">
                <h1>Социальные проекты</h1>
            </div>
        </div>
        <div class="a_content4 grid">
            <div class="social_pro">
                <p>Cоциальные проекты, которые направлены на сохранение природы и в то же время на развитие культуры туризма в
                    нашей стране. На сегодняшний день компания презентовала художественный фильм «Welcome to Kyrgyzstan», в
                    котором отражена природа Кыргызской Республики в зимнее время. Основная идея создания фильма была в том,
                    чтобы показать зрителям красоту природы кыргызской земли и побудить желание посетить нашу страну.</p>

                <a href="#">• «Welcome to Kyrgyzstan»</a>
            </div>

        </div>
    </div> -->

    <div class="background5" id="time-table">
        <div class="grid">
            <div class="content5">
                <h2>Программа<br> бизнес-интенсива</h2>

                <div class="block3 group">
                    <div class="schedule">
                        <h2>1 День</h2>
                        <div class="program">24 октября<br>15:00 — 20:00</div>
                        <ul class="menu">
                            <li>01.<p>Открытие офиса Гранта Кардона</p></li>
                            <li>02.<p>Почему ваш отдел работает только на 30%?</p></li>
                            <li>03.<p>Продайте или продадут вам</p></li>
                            <li>04.<p>Кофе-брейк + нетворкинг</p></li>
                            <li>05.<p>Конкуренция для слабаков - доминируйте</p></li>
                            <li>06.<p>Чрезмерное потребление 10х грозит богатством</p></li>
                        </ul>
                    </div>

                    <div class="schedule">
                        <h2>2 День</h2>
                        <div class="program">25 октября<br>10:00 — 18:00</div>
                        <ul class="menu">
                            <li>01.<p>Как ваш УСПЕХ зависит от ваших конкурентов</p></li>
                            <li>02.<p>Как выстроить ДОМИНИРУЮЩИЙ отдел продаж</p></li>
                            <li>03.<p>Почему НЕ НАДО продавать «Снег зимой» или «Песок в пустыне»</p></li>
                            <li>04.<p>Как преодолеть «90-дневный феномен» ваших продавцов</p></li>
                            <li>05.<p>Какой самый УПУЩЕННЫЙ элемент в продажах</p></li>
                            <li>06.<p>Феномен Гранта Кардона</p></li>
                        </ul>
                    </div>
                </div>

                <button type="button" name="button" data-popup-open="popup-1">запишитесь сейчас! цены растут!</button>
            </div>
        </div>
    </div>

{% endblock %}