<header>
    <div class="grid">
        <div class="content0 group">
            <a href="#home"><img src="" alt="logo" class="logo"></a>
            <nav class="menu-collapsed">
                <div class="bar"></div>
                <ul>
                    <li><a href="#t">Главная</a></li>
                    <li><a href="#t">О нас</a></li>
                    <li><a href="{% url 'event' %}">Концеренции</a></li>
                    <li><a href="#">Отзывы</a></li>
                    <!-- <li><a href="#speaker">Спикер</a></li> -->
                    <!--<li><a href="#price_list">Цены</a></li>-->
                    <!-- <li><a href="#sale">Aкция</a></li> -->
                    <li><a href="#partnership">Партнерство</a></li>
                    <!-- <li><a href="#contacts">Контакты</a></li> -->
                </ul>
            </nav>

            <div class="book">
                <div class="p_number">0 (312) 89 77 52</div>
                <button type="button" name="button" data-popup-open="popup-1">Оставить заявку</button>
            </div>
        </div>
    </div>
</header>