<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BorborAsia</title>
    <link rel="stylesheet" href="assets/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="assets/css/styles.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="popup" data-popup="popup-1">
    <div class="popup-inner">

        <div class="application">Заполните форму</div>

        <p>Мы свяжемся с вами в ближайшее время</p>

        <form action="send_email.php" method="post" id="requestForm">
            <input type="text" name="name" maxlength="25" placeholder="Имя">
            <input type="tel" name="number" placeholder="Телефон с кодом">
            <input type="email" name="email" placeholder="E-mail">
            <input type="submit" value="Отправить">
        </form>
        <a class="popup-close" data-popup-close="popup-1"><img src="assets/images/close-btn.png" alt="image"></a>
    </div>
</div>

<header>
        <div class="grid">
            <div class="content0 group">
                <a href="#home"><img src="" alt="logo" class="logo"></a>
                <nav class="menu-collapsed">
                    <div class="bar"></div>
                    <ul>
                        <li><a href="#t">Главная</a></li>
                        <li><a href="#t">О нас</a></li>
                        <li><a href="#time-table">Мерроприятия</a></li>
                        <li><a href="#">Отзывы</a></li>
                        <!-- <li><a href="#speaker">Спикер</a></li> -->
                        <!--<li><a href="#price_list">Цены</a></li>-->
                        <!-- <li><a href="#sale">Aкция</a></li> -->
                        <li><a href="#partnership">Партнерство</a></li>
                        <!-- <li><a href="#contacts">Контакты</a></li> -->
                    </ul>
                </nav>

                <div class="book">
                    <div class="p_number">0 (312) 89 77 52</div>
                    <button type="button" name="button" data-popup-open="popup-1">Заказать звонок</button>
                </div>
            </div>
        </div>
</header>

<div class="review_container">
    <div class="review_block grid">
        <div class="reviews">
            <div class="review">
                <div class="review_img">
                    <img src="assets/images/review1.jpg" alt="image">
                </div>

                <div class="review_desc">
                    <h3>кол суу</h3>

                    <p>В день поездки погода была отличная, озеро невероятной красоты. Дорога была долгой, и немного
                        утомительной, но оно того стоило. Успели сделать много снимков, насладиться природой и услышать
                        множество историй. Более того узнала масу интересного от гида, мужчина оказался очень
                        приветливым и с энтузиазмом воспринимал задаваемые нами вопросы. Это был незабываемый опыт,
                        обязательно повторим.
                        В день поездки погода была отличная, озеро невероятной красоты. Дорога была долгой, и немного
                        утомительной, но оно того стоило. Успели сделать много снимков, насладиться природой и услышать
                        множество историй. Более того узнала масу интересного от гида, мужчина оказался очень
                        приветливым и с энтузиазмом воспринимал задаваемые нами вопросы. Это был незабываемый опыт,
                        обязательно повторим.
                        llkasdfjkads faldsjkf asdlfkja dsfkjads fadskfja dsfasdlkfjads gfadskjgasd fasdkf asdkfj asdkf adsakjf a
                    </p>

                    <div class="author">
                        <p>Давыдова Мадина</p>

                        <p>18.04.2017</p>
                    </div>
                </div>

            </div>

            <div class="review">
                <div class="review_img">
                    <img src="assets/images/review1.jpg" alt="image">
                </div>

                <div class="review_desc">
                    <h3>кол суу</h3>

                    <p>В день поездки погода была отличная, озеро невероятной красоты. Дорога была долгой, и немного
                        утомительной, но оно того стоило. Успели сделать много снимков, насладиться природой и услышать
                        множество историй. Более того узнала масу интересного от гида, мужчина оказался очень
                        приветливым и с энтузиазмом воспринимал задаваемые нами вопросы. Это был незабываемый опыт,
                        обязательно повторим. </p>

                    <div class="author">
                        <p>Давыдова Мадина</p>

                        <p>18.04.2017</p>
                    </div>
                </div>

            </div>

            <div class="review">
                <div class="review_img">
                    <img src="assets/images/review1.jpg" alt="image">
                </div>

                <div class="review_desc">
                    <h3>кол суу</h3>

                    <p>В день поездки погода была отличная, озеро невероятной красоты. Дорога была долгой, и немного
                        утомительной, но оно того стоило. Успели сделать много снимков, насладиться природой и услышать
                        множество историй. Более того узнала масу интересного от гида, мужчина оказался очень
                        приветливым и с энтузиазмом воспринимал задаваемые нами вопросы. Это был незабываемый опыт,
                        обязательно повторим. </p>

                    <div class="author">
                        <p>Давыдова Мадина</p>

                        <p>18.04.2017</p>
                    </div>
                </div>

            </div>

            <div class="pagination">
                <a href="#"></a>
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#"></a>
            </div>
        </div>

        <div class="review_form">
            <h3>Написать отзыв</h3>

            <form method="post" action="#" class="r_form">
                <label>
                    <input type="text" name="name" placeholder="Имя">
                </label>

                <label>
                    <input type="text" name="surname" placeholder="Фамилия*">
                </label>

                <label>
                    <textarea placeholder="Написать отзыв..."></textarea>
                </label>

                <label for="custom-file-upload" class="filupp">
                    <span class="filupp-file-name js-value">Прекрепить фото</span>
                    <input type="file" value="1" id="custom-file-upload">
                </label>

                <label>
                    <input type="submit" value="Отправить">
                </label>
            </form>
        </div>
    </div>
</div>


<footer id="connection">
        <div class="grid line9">
            <div class="content4">
                <h2>контактная информация</h5>

                    <div class="line"></div>
                    <p>Оставьте свои данные и мы свяжемся с вами или воспользуйтесь контактной<br> информацией и свяжитесь с
                        нами сами</p>
                    </div>
                    <div class="footer-block group">
                        <form action="#" method="get">
                            <input type="text" name="name" maxlength="25" placeholder="Имя">
                            <input type="tel" name="number" placeholder="Телефон с кодом">
                            <input type="email" name="email" placeholder="E-mail">
                            <input type="submit" value="Отправить">
                        </form>

                        <div class="container">
                            <div class="office group"><img src="assets/images/footer-phone.png" alt="image" class="first-image"> +996 550 055577</div>
                            <div class="office group"><img src="assets/images/footer-message.png" alt="image" class="second-image">
                                sunrisestudiopro@gmail.com
                            </div>
                            <div class="office group"><img src="assets/images/location-icon.png" alt="image" class="third-image">
                                Бишкек, ул. Калык Акиева 66,<br> ТЦ Весна, 3 этаж, офис №37
                            </div>
                        </div>
                    </div>

                    <div class="sunrise"><p>© 2016 SUNRISE STUDIO</p></div>

                </div>
    </footer>

<script src="assets/js/jquery-3.1.0.min.js"></script>
<script src="assets/js/script.js"></script>
</body>
</html>